/* Taskbar CSS */
#taskbar {
    background-color: rgb(191, 192, 196);
    height: 3.8%;
    width: 100%;
}

/* Taskbar Start */
#taskbar-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 26px;
    width: 5%;
    margin: 2.5px;
    margin-left: 4px;
    padding: 2px;
}

#taskbar-start-icon {
    height: 18px;
    width: 18px;
}

#taskbar-start-text {
    padding-top: 2px;
    font-family: 'RetroFont';
    font-weight: bold;
    font-size: 15px;
}

#taskbar-start-explore {
    position: absolute;
}

#taskbar-start-dotted-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: black 1px dotted;
}