/* Taskbar CSS */
#taskbar {
    background-color: rgb(191, 192, 196);
    height: 36px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Taskbar Start */
#taskbar-start {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 26px;
    width: 70px;
    margin: 2.5px;
    margin-left: 4px;
    padding: 2px;
    position: relative;
    letter-spacing: 0.4px;
}

#taskbar-start-icon {
    height: 18px;
    width: 18px;
}

#taskbar-start-text {
    padding-top: 2px;
    font-family: 'RetroFont';
    font-weight: bold;
    font-size: 15px;
}

#taskbar-start-dotted-border {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border: black 1px dotted;
}

/* Time */
#taskbar-time {
    width: fit-content;
    height: 26px;
    margin: 2.5px;
    margin-right: 5px;
    align-items: center;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    margin-left: auto;
    font-family: "RetroFont";
    font-size: 15px;
}

.taskbar-time-text {
    margin-top: 3px;
}

/* Taskbar Apps */
.taskbar-apps-slot {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: calc(100% - 8px);
    margin: 3px;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
    gap: 4px;
}

.taskbar-apps-slot-text {
    margin-top: 2px;
    font-family: 'RetroFont';
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.4px;
}

/* Icon List */
.taskbar-apps-slot-icon {
    height: 20px;
    width: 20px;
    background-position: center;
    background-size: contain;
}

.internet-icon {
    background-image: url('../../Assets/internet-icon.png');
}