/* Window CSS */
.window {
    /* width: fit-content;
    height: fit-content; */
    height: 300px;
    width: 500px;
    position: absolute;
    background-color: rgb(192, 192, 192);
    font-family: 'RetroFontBold';
    transform: scale(1, 1.5);
    font-size: 14px;
    padding: 2px;
    color: rgb(192, 192, 192);

    /* Temporary */
    margin: 300px;
    top: 0; 
}

#window-header {
    background-color: rgb(2, 1, 132);
    color: white;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.window-header-name {
    width: fit-content;
    padding-left: 2px;
    padding-top: 3px;
    letter-spacing: 0.5px;
    line-height: 16px;
}

#window-header-textbox {
    display: flex;
    flex-direction: row;
}

.window-header-icon {
    height: 20px;
    width: 20px;
    background-size: contain;
    background-position: center;
}

#window-button-container {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.window-content {
    margin: 5px;
}

.window-button {
    height: 17px;
    background-color: rgb(192, 192, 192);
}