/* Application CSS */
.desktop-app {
    height: fit-content;
    width: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    margin-bottom: 30px;
}

.desktop-app-icon {
    height: 43px;
    width: 43px;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(2px 2px 0px black);
}

.desktop-app-active .desktop-app-icon {
    filter: sepia(1) saturate(5) brightness(0.7) hue-rotate(180deg);
}

.desktop-app-active .desktop-app-text {
    background-color: rgb(2, 1, 132);
    border: 1px dotted white;
    box-sizing: border-box;
}

.desktop-app-text {
    font-family: 'RetroFont';
    font-size: 15px;
    color: white;
    padding: 1px;
    padding-top: 5px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

/* Application Backgrounds */
.desktop-app-icon-internet {
    background-image: url('../../../Assets/internet-icon.png');
}

.desktop-app-icon-computer {
    background-image: url('../../../Assets/computer-icon.png');
}

.desktop-app-icon-recycle {
    background-image: url('../../../Assets/recycle-icon.png');
}